<form method="POST" action="/posts">
  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Content: <input type="text" name="content" id="content"></p>
  <button type="submit" name="submit">submit</button> 
</form>